@model List<MVCforPasswordSaver.Models.UserPassword>

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<p>
    @Html.ActionLink("Create New", "Add")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Website")
        </th>
        <th>
            @Html.DisplayName("User Name")
        </th>
        <th>
            @Html.DisplayName("Password")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.website)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.ActionLink("Edit", "Change", new { web = item.website }) |
                @Html.ActionLink("Delete", "Remove", new { web = item.website })
            </td>
        </tr>
    }


</table>
@Html.ActionLink("Return to back", "View")