@model IEnumerable<MVCforPasswordSaver.Models.User>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { name = item.name }) |
            @Html.ActionLink("Details", "Detail", new { name = item.name }) |
            @Html.ActionLink("Delete", "Delete", new { name = item.name }) |
            @Html.ActionLink("Add", "Add", new { name = item.name })
        </td>
    </tr>
}

</table>
